#home {
    width: 100%;
    height: 100vh;
    background: top center;
    background-size: cover;
}

.home2 {
    height: 800px;
    background: top center;
    background-size: contain;
    padding-left: 50px;
    background-repeat: no-repeat;
}
.home3 {
    height: 700px;
    background: top center;
    background-size:contain;
    padding-left: 50px;
}

.home4 {
    height: 700px;
    background: top center;
    background-size:contain;
    padding-left: 50px;
    background-repeat: no-repeat;
}

.home5 {
    height: 200px;
    background: top center;
    background-size:cover;
    padding-left: 50px;
    background-repeat: no-repeat;
    
}



#home p{
    color: #fff;
    margin-bottom: 150px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    display: block;
}
h1{
    color: #fff; 
    font-family:'Nasalization';
    font-size: 75px;
    padding-bottom: 75px;
}
#home p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}
.prev {
    min-height: 17px;
    background-color: rgba(15, 15, 15, 0.973);
}
.prev2 {
    min-height: 20px;
    background-color: rgba(5,6,8,255);
}
