<div class="prev"></div>
<div class="prev2"></div>
<section id="home" [ngStyle]="{backgroundImage:'url(assets/images/home-background.jpg)'}" class="d-flex flex-column justify-content-center align-items-center">
    <h1>TRANSPORTER</h1>
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
        <p>The Future is <span class="typed"></span></p>
    </div>
</section>

<section [ngStyle]="{backgroundImage:'url(assets/images/home-background2.png)'}" class="home2">
</section>

<section [ngStyle]="{backgroundImage:'url(assets/images/home-background3.png)'}" class="home3">
</section>

<section [ngStyle]="{backgroundImage:'url(assets/images/home-background4.png)'}" class="home4">
</section>

<section [ngStyle]="{backgroundImage:'url(assets/images/home-background5.png)'}" class="home5">
</section>

